{% extends 'administrador/base2.html' %}
{% load static %}

{% block contenido %}
  <!-- Custom styles for this page -->
  <div id="toast" style="display: none;">
    <div class="toast-content">
      <i class="fa fa-check-circle" style="margin-right: 10px;"></i>
      <span id="mensaje-toast">{{ mensaje|default:'' }}</span>
    </div>
  </div>

  <div class="container container-fluid pt-3">
    <!-- DataTables de Trabajadores -->
    <div>
      <div class="card shadow mb-4">
        <div class="card-header d-flex align-items-center justify-content-between">
          <h6 class="m-0 font-weight-bold text-primary">Listado de los Departamentos</h6>

          <div id="botDep" class="py-2">
            <button type="button" data-toggle="modal" data-target="#modalDepartamento" class="button">
              <span class="button__text">Departamento</span>
              <span class="button__icon">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg">
                  <line y2="19" y1="5" x2="12" x1="12"></line>
                  <line y2="12" y1="12" x2="19" x1="5"></line>
                </svg>
              </span>
            </button>
          </div>
        </div>

        <div class="card-body">
          <div class="row">
            <!-- Primera Tabla -->
            <div class="col-md-6">
              <div class="table-responsive">
                <table class="table table-bordered scroll-container py-2" id="dataTable1" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nombre del departamento</th>
                      <th>Acción</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for departamento in departamentos1 %}
                      <tr>
                        <td>{{ departamento.id }}</td>
                        <td>{{ departamento.nombre }}</td>
                        <td>
                          <div class="d-flex justify-content-center">
                            <i type="button" id="modificar_departamento" class="fa fa-pencil mr-2 align-self-center" aria-hidden="true" data-toggle="modal" data-target="#modalModificarDepartamento{{ departamento.id }}"></i>
                            <form class="ml-2" method="post" action="{% url 'eliminar_departamento' departamento.id %}">
                              <button type="submit" class="fa fa-trash" style="border: hidden;background-color: white;"></button>
                            </form>
                          </div>
                        </td>
                      </tr>

                      <div class="modal fade" id="modalModificarDepartamento{{ departamento.id }}" aria-hidden="true" aria-labelledby="modalModificarDepartamentoLabel" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="modalModificarDepartamentoLabel">Modificar Nombre del Departamento</h5>
                              <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                            </div>

                            <form method="post" action="{% url 'modificar_departamento' departamento.id %}">
                              <div class="modal-body">
                                <div class="form-group">
                                  <label for="nuevoNombreDepartamento{{ departamento.id }}">Nuevo nombre del Departamento:</label>
                                  <input type="text" class="form-control" id="nuevoNombreAreaTrabajo{{ departamento.id }}" name="nuevo_nombre" value="{{ departamento.nombre }}" required />
                                </div>
                              </div>
                              <div class="modal-footer justify-content-center">
                                <button type="submit" class="btn btn-primary mr-3">Guardar</button>
                                <button type="button" class="btn btn-secondary ml-3" data-dismiss="modal">Cerrar</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>Nombre del departamento</th>
                      <th>Acción</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>

            <!-- Segunda Tabla -->
            <div class="col-md-6">
              <div class="table-responsive">
                <table class="table table-bordered" id="dataTable2" width="100%" cellspacing="0">
                  <thead>
                    <tr>
                      <th>ID</th>
                      <th>Nombre del departamento</th>
                      <th>Acción</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for departamento in departamentos2 %}
                      <tr>
                        <td>{{ departamento.id }}</td>
                        <td>{{ departamento.nombre }}</td>
                        <td>
                          <div class="d-flex justify-content-center">
                            <i type="button" id="modificar_departamento" class="fa fa-pencil mr-2 align-self-center" aria-hidden="true" data-toggle="modal" data-target="#modalModificarDepartamento{{ departamento.id }}"></i>
                            <form class="ml-2" method="post" action="{% url 'eliminar_departamento' departamento.id %}">
                              <button type="submit" class="fa fa-trash" style="border: hidden;background-color: white;"></button>
                            </form>
                          </div>
                        </td>
                      </tr>

                      <div class="modal fade" id="modalResultado2" aria-hidden="true" aria-labelledby="modalResultado2" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title text-center">Evaluación de las áreas de Competencia</h5>
                              <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                            </div>
                            <div class="modal-body">
                              <div class="row">
                                <div class="col-8 col-sm-6 d-flex justify-content-center align-items-center">
                                  <img src="{% static 'dist/img/no.webp' %}" class="img-fluid" alt="Imagen" width="250" height="250" />
                                </div>
                                <div class="col-8 col-sm-6 d-flex justify-content-center align-items-center">
                                  <p class="fs-5 text-center">Estimado usuario, queremos informarte que ya has completado nuestra encuesta relacionada con la evaluación de las competencias informacionales. Agradecemos sinceramente tu participación. ¡Gracias por tu tiempo y contribución!</p>
                                </div>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>

                      <div class="modal fade" id="modalModificarDepartamento{{ departamento.id }}" aria-hidden="true" aria-labelledby="modalModificarDepartamentoLabel" tabindex="-1">
                        <div class="modal-dialog modal-dialog-centered modal-lg">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h5 class="modal-title" id="modalModificarDepartamentoLabel">Modificar Nombre del Departamento</h5>

                              <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                            </div>

                            <form method="post" action="{% url 'modificar_departamento' departamento.id %}">
                              <div class="modal-body">
                                <div class="form-group">
                                  <label for="nuevoNombreDepartamento{{ departamento.id }}">Nuevo nombre del Departamento:</label>
                                  <input type="text" class="form-control" id="nuevoNombreAreaTrabajo{{ departamento.id }}" name="nuevo_nombre" value="{{ departamento.nombre }}" required />
                                </div>
                              </div>
                              <div class="modal-footer justify-content-center">
                                <button type="submit" class="btn btn-primary mr-3">Guardar</button>
                                <button type="button" class="btn btn-secondary ml-3" data-dismiss="modal">Cerrar</button>
                              </div>
                            </form>
                          </div>
                        </div>
                      </div>
                    {% endfor %}
                  </tbody>
                  <tfoot>
                    <tr>
                      <th>ID</th>
                      <th>Nombre del departamento</th>
                      <th>Acción</th>
                    </tr>
                  </tfoot>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page Wrapper -->
  <div id="wrapper">
    <!-- Content Wrapper -->
    <div id="content-wrapper">
      <!-- Main Content -->
      <div id="content">
        <!-- Begin Page Content -->
        <div class="container-fluid pt-3">
          <!-- DataTables de Trabajadores -->

          <div></div>
        </div>
        <!-- /.container-fluid -->
      </div>
      <!-- End of Main Content -->
    </div>
    <!-- End of Content Wrapper -->
  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button -->
  <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>

  <!-- Modal para agregar departamento--- -->
   --> -->
  <div class="modal fade" id="modalDepartamento" aria-hidden="true" aria-labelledby="modalDepartamentoLabel" tabindex="-1">
    <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="modalDepartamentoLabel">Agregar Departamento</h5>
          <div id="Agregado_correctD" class="mb-0 mt-1" style="white-space: nowrap; display: none; border-radius: 1rem; background-color: lightgreen; margin-left: auto; align-items: baseline;">
            <i style="display: inline-block;" class="m-2 fa fa-check-circle-o"></i>
            <p style="display: inline-block;" class="m-2">Agregado correctamente</p>
          </div>
          <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
        </div>

        <form method="post" action="{% url 'agregar_departamento' %}">
          <div class="modal-body">
            <div class="mt-1 form-group">
              <label class="m-0 fs-5" for="nombre">Nombre del Departamento:</label>
              <input type="text" class="form-control" id="nombre" name="nombre" required />
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" class="btn btn-primary mr-3">Agregar</button>
            <button type="button" class="btn btn-danger ml-3" data-dismiss="modal">Cerrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <style>
    th {
      align-items: center;
      text-align-last: center;
    }
  </style>

  <script>
    $(document).ready(function () {
      var message = "{{ mensaje|default:'' }}" // Asegúrate de que sea una cadena vacía si no hay mensaje
      console.log('Mensaje:', message) // Verifica el valor del mensaje
      if (message) {
        document.getElementById('toast').style.display = 'block' // Muestra el toast
        setTimeout(function () {
          document.getElementById('toast').style.display = 'none' // Oculta el toast después de 5 segundos
        }, 5000)
      } else {
        document.getElementById('toast').style.display = 'none' // Asegúrate de que esté oculto si no hay mensaje
      }
    })
  </script>

  <!-- Core plugin JavaScript -->
  {% comment %} <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="{% static 'dist/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  {% endcomment %}
  <script src="{% static 'dist/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'dist/js/dataTables.bootstrap4.min.js' %}"></script>
{% endblock %}
