{% extends 'administrador/base2.html' %}
{% load static %}
{% block contenido %}
  <!-- Custom styles for this page -->

  <!-- Page Wrapper -->

  <!-- Begin Page Content -->
  <div class="container container-fluid pt-3">
    <div class="card shadow mb-4">
      <div style="width: 100%; align-items: center;" class="card-header d-flex">
        <div>
          <h6 class="m-0 font-weight-bold text-primary">Listado de las Áreas de Trabajo</h6>
        </div>
        <div id="botArea" class="py-2">
          <button type="button" data-toggle="modal" data-target="#modalArea_trabajo" class="button">
            <span class="button__text">Área de Trabajo</span>
            <span class="button__icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="24" viewBox="0 0 24 24" stroke-width="2" stroke-linejoin="round" stroke-linecap="round" stroke="currentColor" height="24" fill="none" class="svg">
                <line y2="19" y1="5" x2="12" x1="12"></line>
                <line y2="12" y1="12" x2="19" x1="5"></line>
              </svg>
            </span>
          </button>
        </div>
      </div>

      <div class="card-body">
        <div class="row">
          <div class="col-md-6">
            <div class="table-responsive">
              <table class="table table-bordered scroll-container py-2" id="dataTable1" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nombre del área de trabajo</th>
                    <th>Acción</th>
                  </tr>
                </thead>
                <tbody>
                  {% for area_trabajo in area_trabajo1 %}
                    <tr>
                      <td>{{ area_trabajo.id }}</td>
                      <td>{{ area_trabajo.nombre }}</td>
                      <td>
                        <div class="d-flex justify-content-center">
                          <i type="button" id="modificar_area_trabajo" class="fa fa-pencil mr-2 align-self-center" aria-hidden="true" data-toggle="modal" data-target="#modalModificarArea_trabajo{{ area_trabajo.id }}"></i>
                          <form class="ml-2" method="post" action="{% url 'eliminar_area_trabajo' area_trabajo.id %}">
                            <button type="submit" class="fa fa-trash" style="border: hidden;background-color: white;"></button>
                          </form>
                        </div>
                      </td>
                    </tr>

                    <div class="modal fade" id="modalModificarArea_trabajo{{ area_trabajo.id }}" aria-hidden="true" aria-labelledby="modalModificarArea_trabajoLabel" tabindex="-1">
                      <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="modalModificarDepartamentoLabel">Modificar Nombre del Departamento</h5>

                            <div id="Agregado_correct" class="mb-0 mt-1" style="white-space: nowrap;display: none; border-radius: 1rem; background-color: lightgreen; margin-left: auto; align-items: baseline;">
                              <i class="m-2 fa fa-check-circle-o" style="display: inline-block;"></i>
                              <p class="m-2" style="display: inline-block;">Modificado correctamente</p>
                            </div>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                          </div>

                          <form method="post" action="{% url 'modificar_area_trabajo' area_trabajo.id %}">
                            <div class="modal-body">
                              <div class="form-group">
                                <label for="nuevoNombreDepartamento{{ area_trabajo.id }}">Nuevo nombre del Departamento:</label>
                                <input type="text" class="form-control" id="nuevoNombreDepartamento{{ area_trabajo.id }}" name="nuevo_nombre" value="{{ area_trabajo.nombre }}" required />
                              </div>
                            </div>
                            <div class="modal-footer justify-content-center">
                              <button type="submit" class="btn btn-primary mr-3">Guardar</button>
                              <button type="button" class="btn btn-secondary ml-3" data-dismiss="modal">Cerrar</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Nombre del área de trabajo</th>
                    <th>Acción</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>

          <div class="col-md-6">
            <div class="table-responsive">
              <table class="table table-bordered scroll-container py-2" id="dataTable2" width="100%" cellspacing="0">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Nombre del área de trabajo</th>
                    <th>Acción</th>
                  </tr>
                </thead>
                <tbody>
                  {% for area_trabajo in area_trabajo2 %}
                    <tr>
                      <td>{{ area_trabajo.id }}</td>
                      <td>{{ area_trabajo.nombre }}</td>
                      <td>
                        <div class="d-flex justify-content-center">
                          <i type="button" id="modificar_area_trabajo" class="fa fa-pencil mr-2 align-self-center" aria-hidden="true" data-toggle="modal" data-target="#modalModificarArea_trabajo{{ area_trabajo.id }}"></i>
                          <form class="ml-2" method="post" action="{% url 'eliminar_area_trabajo' area_trabajo.id %}">
                            <button type="submit" class="fa fa-trash" style="border: hidden;background-color: white;"></button>
                          </form>
                        </div>
                      </td>
                    </tr>

                    <div class="modal fade" id="modalModificarArea_trabajo{{ area_trabajo.id }}" aria-hidden="true" aria-labelledby="modalModificarArea_trabajoLabel" tabindex="-1">
                      <div class="modal-dialog modal-dialog-centered modal-lg">
                        <div class="modal-content">
                          <div class="modal-header">
                            <h5 class="modal-title" id="modalModificarDepartamentoLabel">Modificar Nombre del Departamento</h5>

                            <div id="Agregado_correct" class="mb-0 mt-1" style="white-space: nowrap;display: none; border-radius: 1rem; background-color: lightgreen; margin-left: auto; align-items: baseline;">
                              <i class="m-2 fa fa-check-circle-o" style="display: inline-block;"></i>
                              <p class="m-2" style="display: inline-block;">Modificado correctamente</p>
                            </div>

                            <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
                          </div>

                          <form method="post" action="{% url 'modificar_area_trabajo' area_trabajo.id %}">
                            <div class="modal-body">
                              <div class="form-group">
                                <label for="nuevoNombreDepartamento{{ area_trabajo.id }}">Nuevo nombre del Departamento:</label>
                                <input type="text" class="form-control" id="nuevoNombreDepartamento{{ area_trabajo.id }}" name="nuevo_nombre" value="{{ area_trabajo.nombre }}" required />
                              </div>
                            </div>
                            <div class="modal-footer justify-content-center">
                              <button type="submit" class="btn btn-primary mr-3">Guardar</button>
                              <button type="button" class="btn btn-secondary ml-3" data-dismiss="modal">Cerrar</button>
                            </div>
                          </form>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                </tbody>
                <tfoot>
                  <tr>
                    <th>ID</th>
                    <th>Nombre del área de trabajo</th>
                    <th>Acción</th>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>
      </div>

      <!-- End DataTables Area de Trabajo -->
    </div>
  </div>
  <!-- /.container-fluid -->

  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button -->
  <a class="scroll-to-top rounded" href="#page-top"><i class="fas fa-angle-up"></i></a>

  <!-- Modal para agregar Area de Trabajo--- -->

  <div style="height: auto;" class="modal fade" id="modalArea_trabajo" aria-hidden="true" aria-labelledby="modalArea_trabajoLabel" tabindex="-1">
    <div style="justify-content: center;" class="modal-dialog modal-dialog-centered">
      <div style="width: 45%;" class="modal-content">
        <div style="height: 4rem;" class="modal-header">
          <h5 class="modal-title" id="modalArea_trabajo">Agregar Area de Trabajo</h5>

          <div id="Agregado_correctA_t" class="mb-0 mt-1" style="white-space: nowrap;display: none; border-radius: 1rem; background-color:lightgreen; margin-left:auto;align-items: baseline;">
            <i style="display: inline-block;" class="m-2 fa fa-check-circle-o"></i>
            <p style="display: inline-block;" class="m-2">Agregado correctamente</p>
          </div>

          <button type="button" class="close" data-dismiss="modal" aria-label="Cerrar"><span aria-hidden="true">&times;</span></button>
        </div>
        <form id="formArea_trabajo" method="POST" action="{% url 'agregar_area_trabajo' %}">
          <div class="modal-body">
            <div style="align-items: self-end;" class="d-flex form-group">
              <label class="m-0 fs-5" style="width: 70%;" for="nombre">Nombre del Area de Trabajo:</label>
              <input style="width: 60%;" type="text" class="form-control" id="nombre" name="nombre" required />
            </div>
          </div>
          <div style="text-align-last: center;" class="modal-footer">
            <button type="submit" class="btn btn-primary mr-3" name="guardarArea_trabajoBtn">Agregar</button>
            <button type="button" class="btn btn-primary ml-3" data-dismiss="modal" aria-label="Cerrar">Cerrar</button>
          </div>
        </form>
      </div>
    </div>
  </div>

  <style>
    th {
      align-items: center;
      text-align-last: center;
    }
  </style>
  <!-- Core plugin JavaScript -->
  {% comment %} <script src="vendor/jquery-easing/jquery.easing.min.js"></script>
  <script src="{% static 'dist/vendor/jquery-easing/jquery.easing.min.js' %}"></script>
  {% endcomment %}
  <script src="{% static 'dist/js/jquery.dataTables.min.js' %}"></script>
  <script src="{% static 'dist/js/dataTables.bootstrap4.min.js' %}"></script>
{% endblock %}
