{% extends 'administrador/base2.html' %}
{% load static %}

{% block contenido %}
 
  <div>
    <!-- Comentario de configuración de la cuenta -->
    <!-- <div class="d-flex"> -->
    <!-- <i class="fa fa-user-circle" aria-hidden="true"></i> -->
    <!-- <span>Account Settings - Profile</span> -->
    <!-- </div> -->
  
    <div class="page-header page-header-compact page-header-light border-bottom bg-white">
      <div class="container-fluid px-4">
        <div class="page-header-content">
          <div class="row gx-4 align-items-center justify-content-between pt-0">
            <div class="col-auto mb-3">
              <div class="page-header-title">
                <div class="page-header-icon">
                  <i class="bi bi-person"></i>
                  <span>Configuración de la cuenta - Perfil</span>
                </div>
                <!--  -->
              </div>
            </div>
            <div class="col-12 col-xl-auto mb-3"></div>
          </div>
        </div>
      </div>
    </div>
    <div class="container-xl px-4 mt-4">
      <div class="row gx-4">
        <div class="col-xl-4 col-md-6 mb-4">
          <div class="card">
            <div class="card-header d-flex justify-content-between align-items-center">
              <p class="mb-0">Foto de Perfil</p>
              <div class="d-flex align-items-center position-relative">
                  <form action="{% url 'eliminar_foto' %}" method="post" style="display: inline;">
                      {% csrf_token %}
                      <button type="submit" class="btn p-0" style="background: none; border: none;">
                          <i class="bi bi-trash3 text-secondary hover-red" style="cursor: pointer;"></i>
                      </button>
                  </form>
                  <label class="mb-0 ms-2 d-none position-absolute" id="delete-label">Eliminar Foto de Perfil</label>
              </div>
          </div>
          
          
            <div class="card-body text-center">
                {% if request.user.usuarioinfo.foto_perfil %}
                    <img src="{{ request.user.usuarioinfo.foto_perfil.url }}" alt="Foto de Perfil" class="img-account-profile rounded-circle mb-2 img-fluid" style="max-width: 100%;" />
                {% else %}
                    <img src="{% static 'dist/img/user.webp' %}" alt="Foto por defecto" class="img-account-profile rounded-circle mb-2 img-fluid" style="max-width: 100%;" />
                {% endif %}
                <form action="{% url 'subir_foto' %}" method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="mb-3">
                        <input type="file" name="foto_perfil" accept="image/*" required />
                    </div>
                    <button type="submit" class="btn btn-primary">Subir Foto</button>
                </form>
            </div>
        </div>
        
       
        </div>
        <div class="col-xl-8 col-md-6 mb-4">
          <div class="card">
            <div class="card-header">Detalles de la Cuenta</div>
            <div class="card-body">
              <form class="user" method="post">
                {% csrf_token %}
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="text" name="primer_nombre" class="form-control form-control-user" id="exampleFirstName" placeholder="Nombre" value="{{ user.first_name }}" disabled>
                  </div>
                  <div class="col-sm-6">
                    <input type="text" name="segundo_nombre" class="form-control form-control-user" id="exampleLastName" placeholder="Apellido" value="{{ user.last_name }}" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <input type="email" name="email" class="form-control form-control-user" id="exampleInputEmail" placeholder="Correo Electrónico" value="{{ user.email }}" disabled>
                  </div>
                  <div class="col-sm-6">
                    <input type="username" name="username" class="form-control form-control-user" id="exampleInputUsername" placeholder="Nombre de Usuario" value="{{ user.username }}" disabled>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="input-group">
                      <input type="password" name="password" class="form-control form-control-user" id="InputPassword" placeholder=" Contraseña" /><span class="input-group-text" style="margin-top: 15px;" onclick="togglePasswordVisibility()"><i class="bi bi-eye" aria-hidden="true" {% if not editable %}disabled{% endif %} ></i></span>
                    </div>
                  </div>
                 
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <div class="input-group">
                      <input type="password" name="password_confirm" class="form-control form-control-user" id="InputRepeatPassword" placeholder="Confirmar Contraseña" {% if not editable %}disabled{% endif %}><span class="input-group-text" style="margin-top: 15px;" onclick="togglePasswordVisibility()"><i class="bi bi-eye" aria-hidden="true"  {% if not editable %}disabled{% endif %}></i></span>
                    </div>
                  </div>
                </div>
                <div class="form-group row">
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <select id="area_trabajo" name="area_trabajo" aria-controls="dataarea" class="custom-select custom-select-sm form-control form-control-sm" disabled>
                      <option value="" disabled selected hidden>Selecciona un área de trabajo</option>
                      {% for area_trabajo in areas_trabajo %}
                        <option value="{{ area_trabajo.id }}" {% if user.profile.area_trabajo == area_trabajo %}selected{% endif %}>{{ area_trabajo.nombre }}</option>
                      {% endfor %}
                    </select>
                  </div>
                  <div class="col-sm-6 mb-3 mb-sm-0">
                    <select id="departamento" name="departamento" aria-controls="dataarea" class="custom-select custom-select-sm form-control form-control-sm" disabled>
                      <option value="" disabled selected hidden>Selecciona un Departamento</option>
                      {% for departamento in departamentos %}
                        <option value="{{ departamento.id }}" {% if user.profile.departamento == departamento %}selected{% endif %}>{{ departamento.nombre }}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
                <div class="m-3">
                  <button type="button" class="btn btn-primary" id="btnEditarPerfil">Editar Perfil</button>
                  <button type="submit" class="btn btn-primary" id="btnGuardarCambios" style="display: none;">Guardar Cambios</button>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  
{% endblock %}
