{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />

    <title>CheckTIC - Login</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js" integrity="sha256-eKhayi8LEQwp4NKxN+CfCh+3qOVUtJn3QNZ0TciWLP4=" crossorigin="anonymous"></script>

    <!-- Custom fonts for this template -->

    <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet" />

    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="{% static 'dist/css/sb-admin-2.min.css' %}" />
    {% comment %} <link rel="stylesheet" href="{% static 'dist/css/styl.css' %}" /> {% endcomment %}
  </head>

  <body class="bg-gradient-primary">
    <div class="container">
      <!-- Outer Row -->
      <div class="row justify-content-center">
        <div class="col-xl-10 col-lg-12 col-md-9">
          <div class="card o-hidden border-0 shadow-lg my-5">
            <div class="card-body p-0">
              <!-- Nested Row within Card Body -->
              <div class="row">
                <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                {% if error_message %}
                  <p id="error-message" class="error-message">{{ error_message }}</p>
                {% endif %}

                <script>
                  var errorMessage = document.getElementById('error-message')
                  // Desaparecer el mensaje después de 5 segundos
                  setTimeout(function () {
                    errorMessage.style.display = 'none'
                  }, 5000)
                </script>

                <p class="corner-nombEmaillog text-danger" style="display: none;">El campo Email es obligatorio</p>
                <p class="corner-passwUserLog text-danger" style="display: none;">El campo Contraseña es obligatorio</p>
                <p class="corner-passwUserLogInv text-danger" style="display: none;">La contraseña debe tener mas de 8 caracteres, mayúsculas, caracteres especiales y números</p>
                <p class="corner-Desconocido text-danger" style="display: none;">Email o contraseña incorrectas</p>

                <div class="col-lg-6">
                  <div class="p-5">
                    <div class="text-center">
                      <h1 class="h4 text-gray-900 mb-4">Bienvenido de nuevo!</h1>
                    </div>
                    <form method="POST" class="user">
                      <div class="form-group">
                        <input type="email" name="email" class="form-control form-control-user" id="InputEmailLog" placeholder="Email Address" />
                      </div>
                      <div class="form-group">
                        <div class="input-group">
                          <input type="password" name="password" class="form-control form-control-user" id="InputPasswordLog" placeholder="Contraseña" /> <div class="input-group-append">
                            <span class="input-group-text" onclick="togglePasswordVisibility()"><i class="bi bi-eye" aria-hidden="true"></i></span>
                          </div>
                        </div>
                      </div>
                      {% comment %} <div class="form-group">
                        <input type="password" name="password" class="form-control form-control-user" id="InputPasswordLog" placeholder="Password" />
                      </div> {% endcomment %}
                      {% comment %} <div class="form-group">
                        <div class="custom-control custom-checkbox small">
                          <input type="checkbox" class="custom-control-input" id="customCheck" />
                          <label class="custom-control-label" for="customCheck">Remember Me</label>
                        </div>
                      </div> {% endcomment %}
                      <div class="container-login100-form-btn">
                        <button type="submit" class="lbtn btn-primary btn-user btn-block">Login</button>
                      </div>

                      {% comment %} <a type="submit" class="btn btn-primary btn-user btn-block">Login</a> {% endcomment %}

                      {% comment %} <a href="index.html" class="btn btn-google btn-user btn-block"><i class="fab fa-google fa-fw"></i> Login with Google</a>
                      <a href="index.html" class="btn btn-facebook btn-user btn-block"><i class="fab fa-facebook-f fa-fw"></i> Login with Facebook</a> {% endcomment %}
                    </form>
                    <hr />
                    {% comment %} <div class="text-center">
                      <a class="small" href="forgot-password.html">Forgot Password?</a>
                    </div>
                    {% endcomment %}
                    <div class="text-center">
                      <a class="small" href="{% url 'registro' %}">Create an Account!</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Custom scripts for all pages -->

    <script src="{% static 'dist/js/validate_login.js' %}"></script>
  </body>
</html>
